.nav-link.active {
  color: #4a111c !important;
  text-decoration: solid underline;
  font-weight: 600;
}

.dropdown-menu {
  background-color: #f2f2f2;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-top: 0;
  min-width: auto;
}

.dropdown-item {
  color: #333;
  padding: 10px 20px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #e5e5e5;
  color: #333;
}

.dropdown-divider {
  border-top: 1px solid #ccc;
}
