.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card-img-overlay button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.card:hover .card-img-overlay button {
  background-color: white;
  color: black;
  cursor: pointer;
}
